    <meta charset="UTF-8">
    <title>Make-A-Wishlist</title>
    <link href="css/logout.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body background="images/wishlist.jpg">
<h1>Thank You For Using Make-A-Wishlist!</h1>
<h3>You have successfully created your wishlist. Before you go, would you like to <a href="sendemail.html">email</a> your wishlist to friends?</h3>
</body>
<div class="footer">
      <!--Copyright-->
  <p>&copy; 2017 Make-A-WishList Inc.</p>
</div>
